<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- bean definitions here -->
    <bean id="actor1" class="com.stackroute.spring.domain.Actor" scope="prototype">
        <property name="actorName" value="vijay"></property>
        <property name="actorGender" value="male"></property>
        <property name="actorAge" value="30"></property>
    </bean>
    <bean id="bean-1" class="com.stackroute.spring.domain.Movie">
        <property name="actor1" ref="actor1"></property>
    </bean>
    <bean id="actor" class="com.stackroute.spring.domain.Actor" scope="prototype">
        <property name="actorName" value="harish"></property>
        <property name="actorGender" value="male"></property>
        <property name="actorAge" value="26"></property>
    </bean>
    <bean id="bean-2" class="com.stackroute.spring.domain.Movie">
        <property name="actor1" ref="actor"></property>
    </bean>
</beans>